/emu/emu
/bin/echo/echo
/bin/cat/cat
/bin/cc/cc
/bin/hello/hello
/bin/yacc/yacc
/bin/yacc/yacc.*
/bin/yacc/y.tab.c
/lib/c0/c0
/lib/c1/c1
/_install
**/*.o
**/*.elf
**/*.a
**/*.i
**/*.ast
**/*.str
**/*.sym
**/*.ir
